/* The original version that i made everything is alright */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-image: url("../../image/gym/fitness_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.boder-box {
  background-color: rgba(0, 0, 0, 0.644);
  color: aliceblue;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 250px 450px 0px 450px;
  padding: 10px 0px 10px 0px;
}
h2 {
  text-align: center;
  padding: 10px 0px 20px 0px;
}
form label {
  padding: 0px 0px 10px 100px;
  margin: 20px 0px 10px 0px;
}
form input {
  margin: 10px 0px 0px 20px;
}
.login_password {
  margin: 10px 0px 0px 26px;
}
.login_input {
  margin: 20px 200px;
  font-size: 20px;
}
ul li {
  display: inline-block;
  margin: 5px 0px 0px 60px;
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat, sans-serif;
}
body {
  background-image: url("../../image/gym/szabolcs-toth-CyuvsE3TVak-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  backdrop-filter: blur(
    2px
  ); /* add this but i dont know why, dont ask me why */
  display: flex;
  justify-content: center;
  align-items: center; /* Added to center vertically */
  min-height: 100vh; /* Added to make sure the body takes full viewport height */
}
.border_box {
  background-color: rgba(0, 0, 0, 0.644);
  backdrop-filter: blur(3px);
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(128, 128, 128, 0.411),
    0 6px 20px 0 rgba(128, 128, 128, 0.411);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 450px;
  position: relative; /* Added to make sure the box is relative to the body */
}
.inner_border_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner_border_login_text {
  flex-basis: 50px;
}
.inner_border_username_input {
  flex-basis: 50px;
  /* margin: 5px; */
}
.inner_border_password_input {
  margin: 6px;
}
.inner_border_create_option li {
  display: inline-flex;
  text-transform: capitalize;
  padding: 0;
  margin: 0 30px 0 42px;
}

/* This is for inner_border_login_option */
a {
  border: solid 0px gray;
  border-radius: 5px;
}
a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: transparent;
}
a:hover {
  color: red;
  /* background: rgba(0, 0, 0, 0.548);
  transition: 0.5s; */
}
.inner_border_login_input {
  font-size: 1.5rem;
  padding: 2.5px 10px 2.5px 10px;
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: rgba(0, 136, 169, 1);
  color: white;
  text-transform: capitalize;
  margin: 10px 0px 0px 0px;
}
.inner_border_login_input:hover {
  background-color: rgba(30, 212, 212);
}
.hover_underline_animation {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px;
}
.hover_underline_animation {
  position: relative;
  text-decoration: none;
  color: #000;
}

.hover_underline_animation:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 136, 169, 1);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.hover_underline_animation:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
