@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../image/gym/szabolcs-toth-QOMevotGSeE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.4rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}
.logo {
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 2.3rem;
  text-shadow: 2px 2px black;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  /* color: gray; */
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  padding-left: 5px;
  padding-right: 5px;
  color: lightgray;
}
.nav_links li a {
  position: relative;
  text-decoration: none;
}

.nav_links li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: rgba(0, 136, 169, 1);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav_links li a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}
header.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

header.sticky .nav_links li a:hover {
  color: lightgray;
}

header.sticky .nav_links li a:after {
  background-color: rgba(0, 136, 169, 1);
}

body.sticky_nav header.sticky {
  background-color: rgba(0, 0, 0, 0.548);
  backdrop-filter: blur(4px);
  transition: all 0.3s ease-in-out;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(30, 212, 212);
}

.main_page_intro_text {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 1px white;
}
.main_page_join_button {
  display: flex;
  justify-content: center;
  /* text-shadow: 1px 1px white; */
}
.main_page_link_to_next_page {
  font-size: 1.5rem;
  color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: rgba(0, 136, 169, 1);
  padding: 5px 20px;
}
.main_page_link_to_next_page:hover {
  background-color: rgba(30, 212, 212);
}
.locate_gym {
  align-items: center;
  margin: 60px 0px 0px 0px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.548);
  backdrop-filter: blur(4px);
}
.locate_gym .gym_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  padding: 0px 80px 0px 80px;
  margin: 0;
}
/* .gym_links span {
  font-size: 4rem;
} */
.locate_gym .gym_links span {
  order: 1;
  font-size: 2rem;
}
.locate_gym .gym_links button {
  order: 2;
}
footer h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: #ffffff;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}

.footer {
  background-color: rgba(0, 0, 0, 0.548);
  backdrop-filter: blur(4px);
  padding: 70px 0;
}
.footer_col {
  width: 25%;
  padding: 0 10px;
}
.footer_col h4 {
  font-size: 1rem;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer_col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgba(0, 136, 169, 1);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer_col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer_col ul li a {
  font-size: 1rem;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer_col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
.footer_col .social_links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 136, 169, 1);
  margin: 0px 10px 10px 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}
.footer_col .social_links a:hover {
  color: red;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer_col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer_col {
    width: 100%;
  }
}
