* {
  font-family: Hahmlet;
  font-weight: 300;
  line-height: 1.5;
  color: white;
}

.Text h1 {
  text-align: center;
  text-shadow: 2px 2px 6px gray;
  margin: 120px 50px;
  padding: 0;
  font-size: 60px;
}

/* this for the membersship part*/

.join {
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
}
